.main {
    display: flex;
    justify-content: space-around;
    // background-color: aqua;
}

.logo {
    // background-color: azure;
}

.links {
    background-color: bisque;
    display: flex;
    justify-content: flex-end;
    // width: 300px;

}

.link {
    cursor: pointer;
}

