@import '../../App';

.header {
    // position: sticky;
    top: 0;
    z-index: 11;
    background: white;
    box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.main {
    display: flex;
    justify-content: space-around;
    // background-color: aqua;
    height: 120px;
    z-index: 10;
    position: relative;
}

.logo {
    // background-color: azure;
    padding: 1rem;
}

.links {
    // background-color: bisque;
    display: flex;
    justify-content: space-between;
    padding: 37px 0px 0px 0px;
    // justify-content: flex-end;
    width: 300px;
    // box-shadow: 3px 3px 8px hsl(0, 0%, 80%);

}

.link {
    cursor: pointer;
    text-decoration: none;
}

a {
    color: rgb(12, 12, 12);
}

a:hover {
    color: rgba(117, 117, 117, 0.596);
    transition: 0.35s;
}

a {
    text-decoration: none;
}   

.cartHeader {
    cursor: pointer;
}

.dropdown {
    // position:absolute;
}

.sticky {
    position: fixed;
    top: 11%;
    transition: 0.5s;
    // height: 0;
    // right: 0;
}
