.card {
    border: 0.1r/em solid black;
    margin: 0.5rem;
    padding: 1rem;
    // flex: 1 2 calc(25% - 1rem);
    // width: 25rem;
    max-width: 19rem;
    min-width: 16rem;
    // width: minmax(10rem, 16rem);
    margin: 5px auto;
    text-align: center;
    background: white;
    border-radius: 0.2rem;
    box-shadow: 3px 3px 8px hsl(0, 0%, 80%);

    &:hover {
        box-shadow: 5px 5px 10px hsl(0, 0%, 62%);
        transition: 0.35s
    }
}

.title {
    margin: 0px auto;
    min-height: 5rem;
    display: flex;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

.imageContainer {
    background-color: white;
    height: auto;
    max-width: 15rem;
    min-width: 15rem;
    min-height: 15rem;
    padding: 0.1rem auto;
    margin: 0.1rem auto;
    display:flex;
    align-items: center;

    img {
        max-height: 15rem;
        max-width: 15rem;
        // height: auto;
        // width: auto;
        margin: 0px auto;
        background: white;
    }

    &:hover {
        cursor: pointer;
    }
}



.price {
    text-align: center;
    font-size: 1.3rem;
    padding: 0.5rem;
}

