.container {
    height: 300px;
    display: flex;
    // align-items: center;
    justify-content: space-around;
    padding: 30px;
    text-align: center;  
    // border: 1px solid brown;
    box-shadow: 3px 3px 8px hsl(0, 0%, 80%);

}

.container li {
     text-decoration: none;
}

.container h5 {
    color: aqua
}

.container ul {
    // text-decoration: none;
    list-style-type: none;
}

.container img {
    width: 300px;
    padding: 20px;
}
