.login {
    background-color: rgba(211,211,211, 0.3);
    padding: 35px 60px;
    margin: 15px;
    box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
    // width: 30rem;

}

// .login form  {
//     color: black;
//     padding: 15px;
//     margin: 15px;
// }