.main {
    background-color: rgba(211,211,211, 0.3);
    padding: 2rem 6rem;
    min-height: 50vh;
}

.main h1 {
    margin-left: 0rem;
    color:rgb(46, 46, 46);
    padding: 1rem;
}

.header {
    min-height: 50vh;
}

.products {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding: 1rem auto;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: lime;
    min-height: 25vh;
    font-size: 1.2rem;
}

.summaryContainer {
    display: flex;
    justify-content: flex-end;
    background-color: lightgray;
    padding: 1rem;
}

.summary {
    float: right;
    padding: 0 2rem 1rem 0;
}

.total {
    // float: right;
    font-size: 1.3rem;
    display: flex;
    text-align: center;
    align-items: center;
}

.cartCount {
    font-weight:800;
    padding: 0rem 0.7rem;
    font-size: 1.4rem;
    color:rgb(3, 47, 192)
}

.totalNumber {
    font-size: 1.6rem;
    padding: 1rem;
}

.stripeButton {
    float: right;
    padding: 1rem;
}

.testCreditcard {
    background-color: yellow;
    font-size: 0.9rem;
    padding: 1rem;
    color: rgb(197, 2, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.164);
    text-align: center;
}

.testWarning {
    padding: 1rem;
}

.testNumber {
    padding: 1rem;
    color: rgba(0, 0, 0, 0.699);
    font-size: 1.4rem;
}
