@import '../../App';

.container {
    display: flex;
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
    // box-shadow: 0 1px 2px 0 rgba(133,133,133,0.3), 0 1px 3px 0 rgba(133,133,133,0.3); 
    padding: 5px;
    margin: 1.6rem 0px 0px 0px;
    width: 12rem;
    position: fixed;
    top: 0;
    right: 1%;
    justify-content: space-around;
    align-items: center;
    background-color: white;

    &:hover {
    transition: 0.2s;
    box-shadow: 5px 5px 10px hsl(0, 0%, 62%);
    // box-shadow: 0 1px 3px 0 rgba(133, 133, 133, 0.5), 0 1px 4px 0 rgba(133, 133, 133, 0.5); 

        .icon, .image, .cart {
            transform: scale(1.1);
            transition: 0.35s;
        }
    }
}

.countContainer {
    display: flex;
    justify-content: center;
}

.image {
    position: relative;
    max-width: 2.4rem;
    max-height: 2.4rem;
    width: auto;
    height: auto;
    opacity: 1;
    // margin-bottom: 0.2rem;
}

.number {
    position: absolute; 
    padding: 0.1rem;
    border-radius: 100%;
    right: 45%;
    z-index: 3;  
    transform: translateY(40%);
    text-align: center;
    color: white;
}

.cart {
    text-align: center;
}
